.rodape {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rodape_container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.rodape_container div {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.rodape_container div h3,
.rodape_container div span {
    text-transform: uppercase;
}

.rodape_img {
    width: 150px;
    height: 150px;
}

.rodape_desenvolvedor {
    margin: 20px 0;
    text-align: center;
}
